<h1>New article</h1>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :category_id %>
    <%= f.select "category_id", Category.find(:all).collect {|c| [ c.name, c.id ] }, { :include_blank => true } %>
  </p>

   <p>
    <label>Tags</label>
    <%= text_field_tag "tags", "Separated by commas", :size => "30" %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content,:rows=>20,:cols=>70 %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>

